.container {
  min-height: 120px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: scale(1.05);
  }
  h1 {
    font-size: 1.1em;
    margin: 0.5em 0;
  }
}

.date {
  color: #aaa;
  font-size: 0.8em;
  margin-top: 0;
}
.total {
  font-size: 0.8em;
  margin-top: 0;
}
