.element {
  transition: all 0.2s;
  cursor: pointer;
  font-size: 1.1em !important;
}

.selected {
  background-color: rgba(148, 250, 240, 0.2) !important;
}

.voted {
  background-color: rgba(255, 255, 0, 0.482) !important;
}

.disabled {
  cursor: default;
  opacity: 0.6;
}
